body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: wheat;
}

svg{
    background-color: wheat;
}

.bar{
    fill: blueviolet;
    border-color: blueviolet;
}
.bar:hover{
    fill: chartreuse;
}
#title{
    font-size: 30px;
    
}
#tooltip{
    font-size: 20px;
}