
body {
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
    background-color : wheat;
}
#canvas{
    height: 600px;
    width:1000px;
    background-color : wheat;
}
#tooltip{
    visibility: hidden;
    
}
.county:hover{
    fill: black;
}
